.navbar {
  width: 480px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navbar-brand {
  .logo {
    margin-right: 15px;
  }

  .logo-text {
    padding-bottom: 4px;
  }
}

.navbar-items {
  list-style: none;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 26px;

  a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: colors.$grey;
  }
}

.list-item {
  display: inline;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
  
@media only screen and (max-width: 375px) {
  .navbar {
    height: 66px;
    padding: 10px 20px;
    width: 100%;
    background-color: #FFFFFF;
  }

  .logo-text {
    display: none;
  }

  .list-item {
    font-size: 14px;
    line-height: 24px;
    margin-right: 20px;
  }
}